{% load staticfiles cms_tags sekizai_tags %}

<div ng-controller="DashboardPanel{{ instance.pk }}Controller" class="panel panel-{{ instance.panel_class }}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="{{ instance.icon_class}}"></i>
            </div>
            {% verbatim %}
            <div class="col-xs-9 text-right">
                <div class="huge" ng-bind="datasource.number"></div>
                <div ng-bind="datasource.category_name"></div>
            </div>
            {% endverbatim %}
        </div>
    </div>
    {% verbatim %}
    <a href="{{ datasource.detail_link }}">
        <div class="panel-footer">
            <span class="pull-left">Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
    {% endverbatim %}
</div>

{% addtoblock 'js' %}<script src="{% static 'cmsplugin_dbpanel/scripts/lodash.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock 'js' %}<script src="{% static 'cmsplugin_dbpanel/scripts/restangular.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock 'js' %}<script>application = angular.module("sbAdmin2", ["restangular", ])</script>{% endaddtoblock %}
{% addtoblock 'js' %}
<script>
    application.controller('DashboardPanel{{ instance.pk }}Controller', 
        function ($scope, $interval, Restangular) {
            Restangular.setRequestSuffix('.json');
            var dataSource = Restangular.oneUrl('datasource', '{{ instance.data_source }}')
            $scope.datasource = dataSource.get().$object;
            $interval(
                function() {
                    $scope.datasource = dataSource.get().$object;
                }, {{ instance.refresh_interval }});
    });

</script>
{% endaddtoblock %}