{% load staticfiles cms_tags sekizai_tags %}

{% addtoblock 'css' %}<link href="{% static 'cmsplugin_flotchart/css/cmsplugin_flotchart.css' %}" rel="stylesheet" />{% endaddtoblock %}

{# Requires CSS to set width and height #}
<div class="panel panel-default">
	<div class="panel-heading">
		Flot Chart {{ instance.pk }}
	</div>
	<div class="panel-body">
		<div class="flot-chart">
			<div id="flotchart_{{ instance.id }}" class="flot-chart-content"></div>
		</div>		
	</div>
</div>

{% addtoblock 'js' %}<script src="{% static 'cmsplugin_flotchart/scripts/jquery.flot.js' %}"></script>{% endaddtoblock %}
{% addtoblock 'js' %}
<script>
$(document).ready(function(){ 
	
	var options = {
		series: {
			lines: {
				show: true
			},
			points: {
				show: true
			}
		},
		yaxis: {
			min: -1.2,
			max: 1.2
		},
	};	
	
	function onDataReceived(data) {
		$.plot($("#flotchart_{{ instance.id}}"), [{
			data: data.data,
			label: data.label
		}], options);
	}
	
	$.ajax({
		url: "{{ instance.data_source }}",
		type: "GET",
		datatype: "json",
		success: onDataReceived
	});	
	
    
});
</script>
{% endaddtoblock %}